// 最上方空出空白部分用来显示一些必要信息和操作
.check-div {
  height: 70px;
  line-height: 70px;
  background-color: #fff;
  padding-left: 30px;
  min-width: 824px !important;
  //box-sizing: border-box;
}

.check-div button {
  font-size: 12px;
  font-weight: bold;
}

// 表格文本居中
.table th, .table td {
  text-align: center;
  vertical-align: middle !important;
}
