<!--显示时间-->
<div class="check-div form-inline">
  <span>{{today | date : 'yyyy-MM-dd HH:mm:ss'}}</span>
  <!--自定义星期管道，显示星期几-->
  <span style="padding-left:2em;">{{today | weekDay}}</span>
  <button class="btn btn-primary pull-right" (click)="exportTable($event)"
          style="margin-top: 20px;margin-right: 30px">导出
  </button>
  <button class="btn btn-primary pull-right"
          style="margin-top: 20px;margin-right: 10px">保存
  </button>
</div>
<!--显示评分表-->
<!--赋予表格id用来将表格导出成excel-->
<table class="table table-bordered table-hover" id="table">
  <thead>
  <tr>
    <th style="width: 300px;">课题名称</th>
    <th style="width: 10px">学生</th>
    <th>课题类型</th>
    <th>指导评分</th>
    <th>评阅评分</th>
    <th>答辩评分</th>
    <th>总成绩</th>
    <th>总评</th>
    <th>状态</th>
    <th>信息操作</th>
    <th>表格</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let secretary of secretaries;let i = index;">
    <td>
      <span>{{secretary.subjectName}}</span>
    </td>
    <td>
      <span>{{secretary.student}}</span>
    </td>
    <td>
      <span>{{secretary.subjectType}}</span>
    </td>
    <td *ngFor="let flag of flags">
      <form #f="ngForm">
        <span (click)="edit($event)">{{secretary[flag]}}</span>
        <input type="text" (blur)="inputEdit($event,f.value,secretary.id)" [value]="secretary[flag]"
               style="display: none;width: 50px" [(ngModel)]="secretaries[i][flag]" [name]="flag">
      </form>
    </td>
    <td>
      <!--按比例计算总成绩，并规定计算出的数值至少是1位整数，0到2位小数-->
      <span>{{secretaries[i].guidanceScore*0.3+secretaries[i].ratingScore*0.3+secretaries[i].replyScore*0.4 | number : '1.0-2'}}</span>
    </td>
    <td>
      <div
        [ngSwitch]="check(secretaries[i].guidanceScore*0.3+secretaries[i].ratingScore*0.3+secretaries[i].replyScore*0.4 | number : '1.0-2')">
        <span *ngSwitchCase="0">不及格</span>
        <span *ngSwitchCase="1">及格</span>
        <span *ngSwitchCase="2">中等</span>
        <span *ngSwitchCase="3">良好</span>
        <span *ngSwitchDefault>优秀</span>
      </div>
    </td>
    <td>
      <span>{{secretary.state}}</span>
    </td>
    <td>
      <app-secretary-modal [secretary]="secretary"></app-secretary-modal>
    </td>
    <td>
      <a href="javascript:void(0);">答辩评分表</a><br>
      <a href="javascript:void(0);">答辩评议书</a>
    </td>
  </tr>
  </tbody>
</table>
