<button class="btn btn-primary btn-sm" (click)="openModal(template)">查看</button>
<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">信息</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="decline()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <p>课题名称:{{secretary.course.cname}}</p>
    <p>学生:{{secretary.sname}}</p>
    <p>课题类型:{{secretary.course.ctype}}</p>
    <p>指导评分:{{secretary.grade.advisorGrade}}</p>
    <p>评阅评分:{{secretary.grade.reviewGrade}}</p>
    <p>答辩评分:{{secretary.grade.replyGrade}}</p>
    <p>总成绩:{{secretary.grade.advisorGrade*0.4+secretary.grade.reviewGrade*0.2+secretary.grade.replyGrade*0.4 | number : '1.0-0'}}
    </p>
  </div>

  <div class="modal-footer">
    <button class="btn btn-primary" (click)="decline()">关闭</button>
  </div>
</ng-template>
