<button class="btn btn-primary btn-sm" (click)="openModal(template)">查看</button>
<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">信息</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="decline()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <p>课题名称:{{secretary.subjectName}}</p>
    <p>学生:{{secretary.student}}</p>
    <p>课题类型:{{secretary.subjectType}}</p>
    <p>指导评分:{{secretary.guidanceScore}}</p>
    <p>评阅评分:{{secretary.ratingScore}}</p>
    <p>答辩评分:{{secretary.replyScore}}</p>
    <p>总成绩:{{secretary.guidanceScore*0.3+secretary.ratingScore*0.3+secretary.replyScore*0.4 | number :
      '1.0-2'}}
    </p>
  </div>

  <div class="modal-footer">
    <button class="btn btn-primary" (click)="decline()">关闭</button>
  </div>
</ng-template>
