.check-div {
  height: 70px;
  line-height: 70px;
  background-color: #fff;
  padding-left: 30px;
  min-width: 824px !important;
  //box-sizing: border-box;
}
.check-div button {
  font-size: 12px;
  font-weight: bold;
}
.table th, .table td {
  text-align: center;
  vertical-align: middle!important;
}
