<button class="btn btn-primary btn-sm" (click)="openModal(template)">选择教师</button>
<br>
<label>
  教师:
</label>
<span *ngIf="checkTeacher">
  <span>{{checkTeacher.tname}}</span>
  <button class="btn btn-default btn-xs" (click)="remove()">
    <span class="glyphicon glyphicon-remove"></span>
  </button>
  <br>
</span>

<br *ngIf="!checkTeacher">
<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title text-center">教师表</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="decline()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="input-group form-group">
      <input type="text" class="form-control" ngModel #search>
      <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
    </div>
    <table class="table table-bordered table-hover" style="width: 90%">
      <thead>
      <tr>
        <th>
          #
        </th>
        <th>教工号</th>
        <th>教师姓名</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let teacher of teachers | filter : 'tid':search.value"
          (click)="checkLine($event)">
        <td>
          <input type="radio" class="{{teacher.tname}}" name="teacher"
                 id="{{teacher.tid}}" [checked]="false" (click)="$event.stopPropagation()">
        </td>
        <td>{{teacher.tid}}</td>
        <td>{{teacher.tname}}</td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" (click)="confirm($event)">确认</button>
    <button class="btn btn-primary" (click)="decline()">关闭</button>
  </div>
</ng-template>
