<!--页面加载条-->
<!--loading为true则显示，反之隐藏-->
<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
<div class="container-fluid" style="padding-top: 20px">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <table align="center" class="table table-bordered table-hover">
        <thead>
        <tr>
          <th colspan="6" style="text-align: center; vertical-align: middle;" class="success">答辩分组管理</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td style="text-align: center; vertical-align: middle;">分组</td>
          <td colspan="5" style="text-align: center; vertical-align: middle;">
            <select class="selectpicker"
                    data-live-search="true"
                    (change)="getSelected(select.selectedOptions)"
                    id="select"
                    #select>
              <option value="1">第1组</option>
              <option value="2">第2组</option>
              <option value="3">第3组</option>
              <option value="4">第4组</option>
              <option value="5">第5组</option>
              <option value="6">第6组</option>
              <option value="7">第7组</option>
            </select>
          </td>
        </tr>
        <tr>
          <td style="text-align: center; vertical-align: middle;">组长</td>
          <td colspan="5" rowspan="1" style="text-align: center; vertical-align: middle;">
            <select class="selectpicker"
                    data-live-search="true"
                    id="leader"
                    #leader>
              <option *ngFor="let teacher of teachers" [value]="teacher.tid">
                {{teacher.tname}}
              </option>
            </select>
          </td>
        </tr>
        <tr>
          <td style="text-align: center; vertical-align: middle;">
            <p><span style="background-color: transparent;">成员</span></p>
          </td>
          <td style="text-align: center; vertical-align: middle;">
            <!--<span *ngFor="let g of groups | unique : 'tjudgename'">{{g.tjudgename}}-->
            <!--</span> -->
            <span *ngFor="let teacher of allocatedTeachers;let i = index">
                 <input type="checkbox" [value]="teacher.tname" (click)="deleteTeacher(i,0)" checked>{{teacher.tname}}
              <br *ngIf="(i+1)%7==0">
            </span>
          </td>
        </tr>
        <tr>
          <td style="text-align: center; vertical-align: middle;">
            <p><span style="background-color: transparent;">未分配成员</span></p>
          </td>
          <td style="text-align: center; vertical-align: middle;">
            <!--<span *ngFor="let g of groups | unique : 'tjudgename'">{{g.tjudgename}}-->
            <!--</span> -->
            <span *ngFor="let teacher of unAllocatedTeachers;let i = index">
                 <input type="checkbox" [value]="i" (click)="deleteTeacher(i,1)">{{teacher.tname}}
              <br *ngIf="(i+1)%7==0">
            </span>
          </td>
        </tr>
        <tr>
          <td colspan="6" style="text-align: center; vertical-align: middle;">
            第 <span *ngIf="groupNum">{{groupNum}}</span>组
            共有课题 <span *ngIf="groups">{{groups.length}}</span> 个
          </td>
        </tr>
        <tr class="error">
          <td colspan="6" style="text-align: center; vertical-align: middle;">
            <div class="col-md-3 col-md-offset-3">
              <button class="btn btn-primary" (click)="tSubmit(select.selectedOptions,leader.selectedOptions)">老师分组
              </button>
            </div>
            <div class="col-md-3">
              <button class="btn btn-primary" (click)="sSubmit()">学生分组
              </button>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
